<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>
      <link rel='stylesheet' href='/css/grid.css' />
      <link rel='stylesheet' href='/css/flex-layout.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
