.flex-column,
.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.flex-column:before,
.flex-row:before,
.flex-column:after,
.flex-row:after {
  content: " ";
  display: flex;
  box-sizing: border-box;
  width: 0;
  height: 0;
  font-size: 0;
}
.flex-column:after,
.flex-row:after {
  clear: both;
}
.flex-column {
  flex-direction: column;
}
.flex-around {
  justify-content: space-around;
}
.flex-between {
  justify-content: space-between;
}
.flex-baseline {
  align-items: baseline;
}
.flex-strech {
  align-items: stretch;
}
.flex-item {
  float: left;
  flex-grow: 1;
}
